<?xml version="1.0"?>

<config>
    <modules>
        <Vconnect_AllInOne>
            <version>1.4.6</version>
        </Vconnect_AllInOne>
    </modules>
    <global>
        <blocks>
             <vc_aio>
                <class>Vconnect_AllInOne_Block</class>
            </vc_aio>
            <adminhtml>
                <rewrite>
                    <sales_order_create_shipping_method_form>Vconnect_AllInOne_Block_Adminhtml_Sales_Order_Create_Shipping_Method_Form</sales_order_create_shipping_method_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <vc_aio>
                <class>Vconnect_AllInOne_Model</class>
                <resourceModel>vc_aio_resource</resourceModel>
            </vc_aio>
            <vc_aio_resource>
                <class>Vconnect_AllInOne_Model_Resource</class>
                <entities>
                </entities>
            </vc_aio_resource>
            <sales>
                <rewrite>
                    <quote_address_rate>Vconnect_AllInOne_Model_Quote_Address_Rate</quote_address_rate>
                </rewrite>
            </sales>
            <shipping>
                <rewrite>
                    <rate_result>Vconnect_AllInOne_Model_Rate_Result</rate_result>
                </rewrite>
            </shipping>
        </models>
        <helpers>
            <vc_aio>
                <class>Vconnect_AllInOne_Helper</class>
            </vc_aio>
        </helpers>
        <resources>
            <vconnect_postnord_setup>
                <setup>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                    <module>Vconnect_AllInOne</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vconnect_postnord_setup>
        </resources>
        <fieldsets>
            <sales_copy_order>
                <vconnect_postnord_data>
                    <to_edit>*</to_edit>
                </vconnect_postnord_data>
            </sales_copy_order>
            <sales_convert_quote>
                <vconnect_postnord_data>
                    <to_order>*</to_order>
                </vconnect_postnord_data>
            </sales_convert_quote>
            <sales_convert_order>
                <vconnect_postnord_data>
                    <to_quote>*</to_quote>
                </vconnect_postnord_data>
            </sales_convert_order>
        </fieldsets>
        <events>
            <sales_order_place_after>
                <observers>
                    <vc_postnord_sales_order_place_after>
                        <type>singleton</type>
                        <class>vc_aio/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </vc_postnord_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <paypal_prepare_line_items>
                <observers>
                    <vc_aio>
                        <type>singleton</type>
                        <class>vc_aio/observer</class>
                        <method>paypalPrepareLineItems</method>
                    </vc_aio>
                </observers>
            </paypal_prepare_line_items>
            <core_block_abstract_to_html_after>
                <observers>
                    <vc_aio_core_block_abstract_to_html_after>
                        <class>vc_aio/observer</class>
                        <method>injectPopupCode</method>
                    </vc_aio_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
            <vconnect_shipping_methods_ui_collect>
                <observers>
                    <vc_aio_dk_vconnect_shipping_methods_collect>
                        <class>vc_aio/observer</class>
                        <method>shippingMethodsUiCollect</method>
                    </vc_aio_dk_vconnect_shipping_methods_collect>
                </observers>
            </vconnect_shipping_methods_ui_collect>
        </events>
        <sales>
            <quote>
                <totals>
                    <vc_aio_additional_fee>
                        <class>vc_aio/quote_total</class>
                        <after>subtotal,discount,shipping</after>
                        <before>grand_total</before>
                    </vc_aio_additional_fee>
                    <vc_aio_environmental_fee>
                        <class>vc_aio/quote_environmentaltotal</class>
                        <after>subtotal,discount,shipping</after>
                        <before>grand_total</before>
                    </vc_aio_environmental_fee>
                </totals>
            </quote>
            <order_creditmemo>
                <totals>
                    <vc_aio_additional_fee>
                        <class>vc_aio/creditmemo_total</class>
                    </vc_aio_additional_fee>
                    <vc_aio_environmental_fee>
                        <class>vc_aio/creditmemo_environmentaltotal</class>
                    </vc_aio_environmental_fee>
                </totals>
            </order_creditmemo>
            <order_invoice>
                <totals>
                    <vc_aio_additional_fee>
                        <class>vc_aio/invoice_total</class>
                    </vc_aio_additional_fee>
                    <vc_aio_environmental_fee>
                        <class>vc_aio/invoice_environmentaltotal</class>
                    </vc_aio_environmental_fee>
                </totals>
            </order_invoice>
        </sales>
        <pdf>
            <totals>
                <vc_aio_additional_fee_invoice translate="title">
                    <title>Additional Fee</title>
                    <source_field>vc_aio_additional_fee</source_field>
                    <font_size>7</font_size>
                    <display_zero>1</display_zero>
                    <sort_order>550</sort_order>
                    <model>vc_aio/invoice_pdf_total</model>
                </vc_aio_additional_fee_invoice>
                <vc_aio_environmental_fee_invoice translate="title">
                    <title>Environmental Fee</title>
                    <source_field>vc_aio_environmental_fee</source_field>
                    <font_size>7</font_size>
                    <display_zero>1</display_zero>
                    <sort_order>550</sort_order>
                    <model>vc_aio/invoice_pdf_environmentaltotal</model>
                </vc_aio_environmental_fee_invoice>
            </totals>
        </pdf>
    </global>
    
    <frontend>
        <routers>
            <vc_aio>
                <use>standard</use>
                <args>
                    <module>Vconnect_AllInOne</module>
                    <frontName>aio</frontName>
                </args>
            </vc_aio>
        </routers>
        <layout>
            <updates>
                <vconnect_aio>
                    <file>vconnect/aio.xml</file>
                </vconnect_aio>
            </updates>
        </layout>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <vc_pdkalpha>
                        <class>vc_aio/observer</class>
                        <method>saveShipping</method>
                    </vc_pdkalpha>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <gomage_checkout_save_quote_before>
                <observers>
                    <vc_pdkalpha>
                        <class>vc_aio/observer</class>
                        <method>saveShipping</method>
                    </vc_pdkalpha>
                </observers>
            </gomage_checkout_save_quote_before>
            <sales_quote_collect_totals_before>
                <observers>
                    <vc_pdkalpha>
                        <class>vc_aio/observer</class>
                        <method>saveQuoteOnestepcheckout</method>
                    </vc_pdkalpha>
                </observers>
            </sales_quote_collect_totals_before>
        </events>
        <translate>
            <modules>
                <Vconnect_AllInOne>
                    <files>
                        <default>Vconnect_AllInOne.csv</default>
                    </files>
                </Vconnect_AllInOne>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <vc_pdkalpha>
                        <class>vc_aio/observer</class>
                        <method>saveAdminShipping</method>
                    </vc_pdkalpha>
                </observers>
            </adminhtml_sales_order_create_process_data>
            <core_block_abstract_to_html_before>
                <observers>
                    <vc_aio>
                        <type>singleton</type>
                        <class>vc_aio/observer</class>
                        <method>addPaymentFeeTotal</method>
                    </vc_aio>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
       <layout>
            <updates>
                <vc_alpha>
                    <file>vconnect/aio.xml</file>
                </vc_alpha>
            </updates>
        </layout>
        <translate>
            <modules>
                <Vconnect_AllInOne>
                    <files>
                        <default>Vconnect_AllInOne.csv</default>
                    </files>
                </Vconnect_AllInOne>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <carriers>
            <vconnect_postnord>
                <active>0</active>
                <model>vc_aio/carrier_postnord</model>
                <title>PostNord</title>
                <weather_api_key>302924bfc78fda68f2deef7f21bc1526</weather_api_key>
                <button_label>Choose a method</button_label>
                <button_label_active>Choose another delivery method</button_label_active>
                <popup>1</popup>
            </vconnect_postnord>
            <vconnect_postnord_pickup>
                <active>0</active>
                <name>To post office</name>
            </vconnect_postnord_pickup>
            <vconnect_postnord_business>
                <active>0</active>
                <name>To your business</name>
                <arrival_option_text>08:00 - 16:00</arrival_option_text>
                <flex_delivery_active>1</flex_delivery_active>
            </vconnect_postnord_business>
            <vconnect_postnord_home>
                <active>0</active>
                <name>To your address</name>
                <arrival_option_text>08:00-17:00</arrival_option_text>
                <flex_delivery_active>1</flex_delivery_active>
            </vconnect_postnord_home>
            <vconnect_postnord_intl>
                <active>0</active>
                <name>International</name>
            </vconnect_postnord_intl>
            <vconnect_postnord_eu>
                <active>0</active>
                <name>EU</name>
            </vconnect_postnord_eu>
        </carriers>
        <sales>
            <totals_sort>
                <vc_aio_additionalfee>15</vc_aio_additionalfee>
                <vc_aio_environmentalfee>25</vc_aio_environmentalfee>
            </totals_sort>
        </sales>
    </default>
</config>
