<?xml version="1.0"?>

<config>
    <modules>
        <Vconnect_AllInOneDk>
            <version>1.0.0.0</version>
        </Vconnect_AllInOneDk>
    </modules>
    <global>
        <blocks>
             <vc_aio_dk>
                <class>Vconnect_AllInOneDk_Block</class>
            </vc_aio_dk>
        </blocks>
        <models>
            <vc_aio_dk>
                <class>Vconnect_AllInOneDk_Model</class>
            </vc_aio_dk>
        </models>
        <helpers>
            <vc_aio_dk>
                <class>Vconnect_AllInOneDk_Helper</class>
            </vc_aio_dk>
        </helpers>
        <resources>
        </resources>
        <events>
            <vconnect_postnord_collect_shipping_methods>
                <observers>
                    <vc_aio_dk_collect_shipping_methods>
                        <class>vc_aio_dk/observer</class>
                        <method>collectShippingMethods</method>
                    </vc_aio_dk_collect_shipping_methods>
                </observers>
            </vconnect_postnord_collect_shipping_methods>
        </events>
    </global>
    <frontend>
        <routers>
        </routers>
    </frontend>
    <adminhtml>
       <layout>
            <updates>
            </updates>
        </layout>
    </adminhtml>
    <default>
         <carriers>
<!--            <vconnect_pdkalpha>
                <active>0</active>
                <include_jquery>1</include_jquery>
                <include_jquery_ui>1</include_jquery_ui>
                <name>SmartLevering</name>
                <model>vc_aio_dk/carrier_pdkalpha</model>
                <title>Post Danmark SmartLevering</title>
                <create_preorder>0</create_preorder>
            </vconnect_pdkalpha>-->
        </carriers>
    </default>
</config>
